@page "/"

<PageTitle>Index</PageTitle>
<style>
    .hot-pink-button {
        background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        color: white;
        border: 1px solid #fff;
    }

    .hero-img {
        background-image: url("css/assets/poloViceHero4.png");
        min-height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero-text {
        transform: rotate(-8deg);
        color: white;
        font-size: 9em;
        font-family: 'Neon', cursive;
        text-shadow: 2px 2px 2px black;
        padding: 1.25rem;
        margin: 0 auto;
    }

    .container-body {
        max-width: 75%;
        box-shadow: 4rem;
    }
</style>

<div class="container-body shadow-lg">
    <div class="hero-img">
        <div class="container vh-100">
            <NavMenu />
            <div class="position-absolute fixed-bottom mx-auto text-center">
                <button class="hot-pink-button btn btn-lg mb-2">CREATE YOUR OWN CUSTOM TEE</button>
            </div>
        </div>
    </div>


    <div class="container-fluid mt-2" style="background-color:black">
        <div class=" row row-cols-1 row-cols-md-3 g-2">
            <TShirtCard ImageSrc="css/assets/miamiviceshirt.png" AltText="MiamiViceShirt" />
            <TShirtCard ImageSrc="css/assets/cactusCowboy.png" AltText="MiamiViceShirt" />
            <TShirtCard ImageSrc="css/assets/miamiviceshirt.png" AltText="MiamiViceShirt" />
        </div>
    </div>
</div>