@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <img class="img-fluid" src="css/assets/poloViceHero2.png" />
    </div>
    <div class="main-content">
        <TShirtCard ImageSrc="css/assets/miamiviceshirt.png" AltText="MiamiViceShirt" />
        <TShirtCard ImageSrc="css/assets/miamiviceshirt.png" AltText="MiamiViceShirt" />
        <TShirtCard ImageSrc="css/assets/miamiviceshirt.png" AltText="MiamiViceShirt" />
    </div>
</div>