@inherits LayoutComponentBase

<PageTitle>PoloVice</PageTitle>

<div class="page">
    <main>
        <article class="content px-4 background-gradient d-flex justify-content-center">
            @Body
        </article>
    </main>
</div>
