<div class="col">
    <div class="card tshirt-option" style="width: 25rem;">
        <img src="@ImageSrc" class="card-img-top" alt="@AltText">
        <button class="button">Customize</button>
    </div>
</div>


@code {
    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string AltText { get; set; }
}