<div class="col-md-4 mb-4">
    <div class="tshirt-option">
        <img src="@ImageSrc" class="card-img-top" alt="@AltText">
        <button class="button">Customize</button>
    </div>
</div>

@code {
    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string AltText { get; set; }
}